body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.7)50%), url(3.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#tab {
    border: 2px solid;
    border-collapse: collapse;
    width: 350px;
    height: 100px;
    background-color: black;
    color: white;
    /* transition: 2s width; */
    animation-name: p;
    animation-duration: 4s;
}

@keyframes p {
    from {
        width: 350px;
        color: black;
    }
    to {
        color: aqua;
        width: 450px;
    }
}

#tab tr th {
    border: 2px solid;
}

#tab tr td {
    border: 2px solid;
}

.main h2 {
    color: aquamarine;
}

p {
    color: white;
    font-size: 20px;
}

#h1 {
    color: greenyellow;
    margin-top: 20%;
    margin-left: 0%;
    transition: 1s;
}

#h1:hover {
    color: red;
    font-size: larger;
}

#h2 {
    color: greenyellow;
}

#h2:hover {
    color: red;
}

#h3 {
    color: greenyellow;
}

#h3:hover {
    color: red;
}

.login {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    margin-left: 100px;
    /* left:470px; */
    /* margin-right: auto;
    align-content: center; */
    /* top: -20px; */
    border-radius: 10px;
    padding: 25px;
    animation-name: example2;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

@keyframes example2 {
    from {
        /*left:0px;*/
        transform: rotate(0deg);
        background-color: aqua;
    }
    to {
        /*right:100px*/
        transform: rotate(360deg);
        background-color: black;
    }
}

.img {
    margin-left: 100px;
    /* transition: transform 4s; */
    animation-name: f;
    animation-duration: 3s;
}

.img:hover {
    transform: rotate(360deg);
}

@keyframes f {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#head {
    color: gold;
    text-align: center;
    font-size: 40px;
    transition: 2s;
}

.body {
    color: red;
}

#ul1 {
    font-size: 20px;
    color: aliceblue;
    animation-name: big;
    animation-duration: 2s;
}

@keyframes big {
    from {
        color: white;
    }
    to {
        color: aquamarine;
    }
}

#ul1:hover {
    color: gold;
    font-size: larger;
}

#ul2 {
    font-size: 20px;
    color: aliceblue;
}

#ul2:hover {
    color: gold;
}

#head {
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        color: red;
    }
    to {
        color: yellow;
    }
}

.info {
    animation-name: i;
    animation-duration: 4s;
}

@keyframes i {
    from {
        color: black;
    }
    to {
        color: white;
    }
}